.block {
    /* background-color: #1b6d85; */
    border-radius: 4px;
     /** min-height: 15px;
     margin-left: 75px;
     margin-right: 15px; */
}
.head {
    vertical-align: middle;
    text-align: center;
    font-size: 35px;
    min-height: 65px;
}
.img {
    max-width: 115%;
    max-height: 115%;
    vertical-align: middle;
    border-radius: 4px;
    margin-left: -15px;
}
.ava {
   height: 70%;
   width: 70%;
   margin-top: -85px;
}
.carouselimg {
    margin-left: auto;
    margin-right: auto;
    max-height: 550px;
    max-width: 900px;
}
h4 {
    text-align: center;
    font-family: serif;
}
.border {
    border: 1px solid #aeacaf;
    border-radius: 4px;
}